<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>
    <h2>Student master</h2>
    <form method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>
        <label>Mobile:</label><br>
        <input type="text" name="mobile" required><br><br>
        <label>Email:</label><br>
        <input type="text" name="email" required><br><br>
        <label>Course:</label><br>
        <input type="text" name="course" required><br><br>
        <label>Location:</label><br>
        <input type="text" name="location" required><br><br>
        <button type="submit">Add Student</button>
    </form>
</body>
</html>